h1{
	color:orange;
	margin-top: 1.5em;
}

h2{
	color: sand;
}

body{
	margin: 2cm;
	font-family: sans-serif;
}
code{
	font-size: 1.5rem;
	color: gray;
}


button{
	
	margin-left: 100px;
	border-radius: 2px;
	color: blue;
	border: 10px;
	background-color: yellow;
}

body{

	background-color: pink;
}